table {
  width: 100%;
  text-align: center;
}

th, td {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: unset;
}

li a {
  font-size: 36px;
}

li.active {
  color: red;
}